<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">이상형월드컵</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item ml-2">
                <a class="nav-link" routerLink="/new-track" placement="bottom" ngbTooltip="이상형월드컵 만들기">
                    <fa-icon [icon]="faPlusSquare"></fa-icon>
                </a>
            </li> -->
            <li class="nav-item ml-2">
                <a class="nav-link" routerLink="/workplace" placement="bottom" ngbTooltip="이상형월드컵 만들기">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </a>
            </li>
            <li class="nav-item ml-2">
                <a class="navbar-brand" *ngIf="authService.userData as user; else guest" placement="bottom"
                    ngbTooltip="{{user.displayName}}'s profile">
                    <img src="{{user.photoURL}}" width="30" height="30" alt="{{user.displayName}}"
                        popoverTitle="Hello, {{user.displayName}}" [autoClose]="'outside'"
                        [ngbPopover]="profilePopContent">
                    <ng-template #profilePopContent>
                        <button type="button" (click)="authService.SignOut()"
                            class="btn btn-outline-secondary btn-lg btn-block">log out</button>
                    </ng-template>

                </a>
                <ng-template #guest>
                    <button type="button" class="btn btn-outline-secondary" popoverTitle="Choice your login type"
                        [autoClose]="'outside'" [ngbPopover]="loginPopContent">
                        login
                    </button>
                    <ng-template #loginPopContent>
                        <button type="button" (click)="authService.GoogleAuth()"
                            class="btn btn-outline-primary btn-lg btn-block">Google Login</button>
                        <!-- <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Block level button</button> -->
                    </ng-template>
                </ng-template>
            </li>
        </ul>
    </div>
</nav>