<ng-container *ngIf="{
  track: track | async,
  play: play | async
} as osb;">
  <div class="container">
    <div class="row  my-3">
      <div class="col col-lg-9">
        <div *ngIf="!osb.play">
            <div class="text-center">
                <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                  <span class="sr-only">Loading...</span>
                  </div>
                </div>
        </div>
        <div id='playZone' *ngIf="osb.play?.cards as cards" class="bg-dark text-center p-3">
            <ng-container *ngIf="osb.play?.pickList.length > 1">
                <div class="" *ngIf="{
                  left:cards[osb.play?.pickList[0]],
                  right:cards[osb.play?.pickList[1]]
                } as card">
                  <div class="d-inline-block align-middle cursor-pointer" style="width: 48%; min-width: 210px;" (click)="cardClick(card.left,osb.play,osb.play?.pickList[0])">
                    <img src="{{card.left.photoURL}}" alt="" class="w-100">
                    <div class="cardTitle">{{card.left.title}}</div>
                  </div>  
                  <span class="d-inline-block align-middle font-weight-bold text-light px-2" style="width:4%;"> vs </span>
                  <div class="d-inline-block align-middle cursor-pointer" style="width: 48%; min-width: 210px;" (click)="cardClick(card.right,osb.play,osb.play?.pickList[1])">
                    <img src="{{card.right.photoURL}}" alt="" class="w-100">
                    <div class="cardTitle">{{card.right.title}}</div>
                  </div>  
                  </div>
            </ng-container>
            <ng-container *ngIf="osb.play?.pickList.length == 1">
              <div class="" *ngIf="{
                win:cards[osb.play?.pickList[0]]
              } as card">
                <div class="d-inline-block align-middle" style="width: 100%; min-width: 210px;">
                  <h3 class="text-white">우승!</h3>
                  <img src="{{card.win.photoURL}}" alt="" class="w-100">
                  <div class="cardTitle">{{card.win.title}}</div>
                  </div>  
                </div>
            </ng-container>
            
            <!-- <ng-template #waitCards>
              <div class="text-center">
                <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                  <span class="sr-only">Loading...</span>
                  </div>
                </div>
            </ng-template> -->
        </div>
        <div id="playManager" class="mt-1 mb-3">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-outline-light text-dark" (click)="playReset(osb.play, osb.play?.totalRound)" title="reset">
                    <fa-icon [icon]="faRedo"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-light border-0 bg-white text-dark" title="진행상황" disabled>
                      {{osb.play?.nowRound}}/{{osb.play?.totalRound}} ({{osb.play?.nowRound / osb.play?.totalRound | percent}})
                  </button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-secondary" [attr.disabled]="osb.play?.totalRound == 8" *ngIf="osb.track?.cardCount >= 8" (click)="playReset(osb.play, 8)">8</button>
                  <button type="button" class="btn btn-secondary" [attr.disabled]="osb.play?.totalRound == 16" *ngIf="osb.track?.cardCount >= 16" (click)="playReset(osb.play, 16)">16</button>
                  <button type="button" class="btn btn-secondary" [attr.disabled]="osb.play?.totalRound == 32" *ngIf="osb.track?.cardCount >= 32" (click)="playReset(osb.play, 32)">32</button>
                  <button type="button" class="btn btn-secondary" [attr.disabled]="osb.play?.totalRound == 64" *ngIf="osb.track?.cardCount >= 64" (click)="playReset(osb.play, 64)">64</button>
                  <button type="button" class="btn btn-secondary" [attr.disabled]="osb.play?.totalRound == osb.play?.totalStage" *ngIf="osb.play?.totalStage > 64" (click)="playReset(osb.play, osb.play?.totalStage)">{{osb.play?.totalStage}}</button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                  <button type="button" class="btn btn-secondary">full</button>
                </div>
              </div>
        </div>
        
        <h5 class="font-weight-bold">{{osb.track?.title}}</h5>
        <small class="text-muted">{{osb.track?.createdAt | date:"yyyy. MM. dd"}}</small>
        <hr>
        {{osb.track?.info}}
        
        
        
        
      </div>
      <!-- <div class="col col-lg-3">
        추천트랙
      </div> -->
    </div>
    
    
    
  </div>
</ng-container>
<ng-template #NotFoundTrack>
  Not Found Track
</ng-template>

